@model ControleAtividades.Models.Atividade

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusAtividade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusAtividade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AtividadeID }) |
    @Html.ActionLink("Excluir", "Delete", new { id = Model.AtividadeID}) |
    @Html.ActionLink("Voltar", "Index")
</p>
